@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

main {
  background-color: #f7f7f7;
}

.element-grid {
  padding: 40px;
  border-radius: 40px;
  background-color: #fff;
}
